<div class="modal">
    <div class="modal__form__container">
        <h2 class="modal__title">Вход</h2>

        <form class="modal__form">
            <div class="input-group">
                <label for="emailInput">Почта</label>
                <input name="emailInput" class="form-input">
            </div>

            <div class="input-group">
                <label for="passwordInput">Пароль</label>
                <input name="passwordInput" class="form-input">
            </div>

            <div class="submit-group">
                <a class="link-button">Регистрация</a>
                <input type="submit" value="Вход" class="button">
            </div>
        </form>
    </div>
</div>