<div class="table">
    {{#each rows}}
        <div class="table__cell grey">
            {{title}}
        </div>
        <div class="table__cell">
            {{value}}
        </div>
    {{/each}}
</div>
