<h2 class="auth__title">Вход</h2>

<form class="auth__form" id="login-form">
    <div class="input-group">
        <label for="email">Почта</label>
        <input name="email" class="form-input">
    </div>

    <div class="input-group">
        <label for="password">Пароль</label>
        <input name="password" class="form-input">
    </div>

    <div class="submit-group">
        <a class="link-button">Регистрация</a>
        <input type="submit" value="Вход" class="button">
    </div>
</form>
