<div class="friend-list">
    <a class="friend-list__header">
        Друзья
    </a>
    <hr>
    <div class="friend-list__friends-block">
        {{#each friends}}
            <div class="friend-list__friends-block__avatar-link">
                <a href="#">
                    <img src="{{avatar}}" class="friend-list__friends-block__avatar">
                </a>
                <a href="#" class="black-link">{{nickname}}</a>
            </div>
        {{/each}}
    </div>
</div>
