<h2 class="friend-list__title">Друзья</h2>

<input type="text" id="friend-search" class="search friend-search" placeholder="Поиск" value="{{friendSearchQuery}}">

<div class="friend-list">
    {{#each friends}}
        <div class="friend-list__item">
            <a href="/profile/{{user_id}}" class="black-link js-router-link modalClosing">
                <div class="friend-list__item__avatar-block">
                    <img class="friend-list__item__avatar" src="{{this.avatar}}">
                    <div class="friend-list__item__description">
                        <span class="friend-list__item__friend-name">
                            {{this.name}}
                        </span>
                        
                    </div>
                </div>            
            </a>
            <div class="tick-friend-icon-container"></div>
        </div>
    {{/each}}
</div>
