<form id="edit-profile-form" class="profile-description">
    <div class="profile-description__img-container">
        <img src="{{avatar}}" class="profile-description__img">

        {{#if editing}}
            <input type="file" name="avatar">
        {{/if}}
    </div>
    <div class="profile-description__description-block">
        <div class="profile-description__table-container">
            {{{table}}}
        </div>
        <div class="profile-description__button-block">
            {{#if mine }}
                {{#if editing}}
                    <input class="button" type="submit" value="Сохранить">
                {{else}}
                    <button id="edit-profile-btn" class="button">Редактировать</button>
                    <a href="/createevent" class="link-button js-router-link">Создать мероприятие</a>
                {{/if}}
            {{else}}
                <input class="button" value="Добавить в друзья">
            {{/if}}
        </div>
    </div>
</form>
