<div class="profile-description">
    <div class="profile-description__img-container">
        <img src="{{avatar}}" class="profile-description__img">
    </div>
    <div class="profile-description__table-container">
        {{{table}}}
    </div>
</div>
