@import "Common/";
@import "Events/";
@import "Auth/";
@import "Header/";
@import "Tags/";
@import "Map/";
@import "ModalWindow/";
@import "SideMenu/";

@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype");

    font-weight: 300;
    font-style: normal;
}

:root {
    --main-selected-color: #26a69a;
    --link-color: #008666;
    --input-el-color: #42c3ca;
    --disabled-input-el-color: #9ed8db;
    --hovering-el-color: rgb(231, 231, 231);
}

body {
    font-family: "Roboto";
    font-weight: normal;

    cursor: default;
}
