{
    "plugins": [
        "@babel/plugin-syntax-jsx",
        ["@babel/plugin-transform-react-jsx", { "pragma": "VDOM.createVNode", "pragmaFrag": "VDOM.createFragment" }]
    ],
    "presets": ["@babel/preset-env", ["@babel/preset-typescript", { "jsxPragma": "VDOM" }]]
}
