{
    "plugins": [
        "@babel/plugin-syntax-jsx",
        ["@babel/plugin-transform-react-jsx", { "pragma": "VDOM.createVNode", "pragmaFrag": "VDOM.createFragment" }]
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "edge": "17",
                    "firefox": "60",
                    "chrome": "67",
                    "safari": "11.1"
                }
            }
        ],
        ["@babel/preset-typescript", { "jsxPragma": "VDOM" }]
    ]
}
