.event-card {
    position: relative;
}

.event-card__body {
    margin-bottom: 70px;
}

.event-card__marked {
    display: flex;
}

.event-card__marked-text-block {
    margin-top: 4px;
    font-size: 16px;
    line-height: 19px;
}

.event-card__marked-text {
    margin-bottom: 10px;
}

.event-card__logo-block {
    width: 32px;
    margin-right: 5px;
}

.event-card__logo {
    display: flex;
    margin: auto;
}

.event-card__footer {
    position: relative;
    flex-grow: 1;
    bottom: 10px;
    margin: 0 15px 0 15px;
}

.event-card__button-block {
    margin-top: 10px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.event-card__button-link {
    margin: 0 auto;
}

.edit-link:hover svg *{
    fill: var(--link-color)
}
