@import "/src/assets/scss/Common/Card.scss";

.event-card {
    position: relative;
}

.event-card__body {
    padding-bottom: 40px;
}

.event-card__marked {
    display: flex;
}

.event-card__marked-text-block {
    margin-top: 4px;
    font-size: 16px;
    line-height: 19px;
}

.event-card__marked-text {
    margin-bottom: 10px;
}

.event-card__logo-block {
    width: 32px;
    margin-right: 5px;
}

.event-card__logo {
    display: flex;
    margin: auto;
}

.event-card__footer {
    position: absolute;
    bottom: 8px;
    width: calc($card-widht - $card-body-margin-x - $card-body-margin-x);
    margin: 0 $card-body-margin-x;
}

.event-card__button-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.event-card__button-link {
    margin: 0 auto;
}

.edit-link:hover svg * {
    fill: var(--link-color);
}
