<div class="app">
    <div class="header">
        {{{header}}}
    </div>

    <div class="row">
        <div class="content">
            {{{content}}}
        </div>
        <div class="sidebar">
            {{{sidebar}}}
        </div>
    </div>

    {{{modalWindow}}}
</div>