.tags-menu {
    display: flex;

    margin-top: 40px;

    gap: 10px;
    flex-wrap: wrap;
}

.tag {
    background-color: var(--main-selected-color);
    color: white;

    cursor: pointer;

    border: 1px solid var(--main-selected-color);
    border-radius: 15px;

    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

    text-align: center;

    padding: 10px;
}

.tag:hover {
    background-color: white;
    color: var(--main-selected-color);
}

.tag.active {
    background-color: var(--input-el-color);
    border-color: var(--input-el-color);

    color: white;
}

.tag.active:hover {
    background-color: white;
    color: var(--input-el-color);
}
