<h2 class="auth__title">Регистрация</h2>

<form class="auth__form" id="register-form">
    <div id="common-warning" class="warning"></div>
    <div class="input-group">
        <label for="nickname">Имя</label>
        <input name="nickname" class="form-input" value="smth">
        <div class="warning"></div>
    </div>

    <div class="input-group">
        <label for="email">Почта</label>
        <input type="email" name="email" class="form-input">
        <div class="warning"></div>
    </div>

    <div class="input-group">
        <label for="password">Пароль</label>
        <input type="password" name="password" class="form-input">
        <div class="warning"></div>
    </div>

    <div class="input-group">
        <label for="passwordConfirmation">Подтверждения пароля</label>
        <input type="password" name="passwordConfirmation" class="form-input">
        <div class="warning"></div>
    </div>

    <div class="input-group input-group-inline">
        <input name="accept" type="checkbox">
        <label for="accept">Я согласен с обработкой персональных данных</label>
    </div>

    <div class="submit-group">
        <a class="link-button" id="redirect-login-link">Вход</a>
        <input disabled="true" type="submit" value="Регистрация" class="button" id="register-submit-button">
    </div>
</form>
