<div class="app">
    <div class="header">
        {{{header}}}
    </div>

    <div class="content">
        {{{content}}}
    </div>

    {{{modalWindow}}}
    {{!--
    <div class="footer">
        {{footer}}
    </div> 
    --}}
</div>