.app {
    margin: 15px 94px 0;
}

.card {
    --lm-card-border-radius: 20px;
    --lm-card-border-width: 1px;
    --lm-card-inner-border-radius: calc(var(--lm-card-border-radius) - (var(--lm-card-border-width)));
    display: flex;
    flex-direction: column;
    width: 290px;
    border: var(--lm-card-border-width) solid #000000;
    border-radius: var(--lm-card-border-radius);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 40px 60px 0;
}

.card__img-block {
    width: 100%;
}

.card__img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: var(--lm-card-inner-border-radius);
    border-top-right-radius: var(--lm-card-inner-border-radius);
}

.card__body {
    margin: 5px 15px 20px 15px;
}

.card__title {
    color: #008666;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-decoration-line: underline;
    text-underline-offset: 0.15em;
}

.card__description {
    margin-top: 5px;
    font-size: 16px;
    line-height: 19px;
    color: #565656;
}

.card__hr {
    border: 1px dashed #000000;
    width: 100%;
}

.button {
    border-radius: 10px;
    background: var(--input-el-color);
    border: 1px solid var(--input-el-color);
    padding: 10px;
    font-size: 20px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button:hover {
    background: #FFFFFF;
    color: var(--input-el-color);
}

.link-button {
    color: var(--input-el-color);
    border: 1px solid var(--input-el-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.link-button:hover {
    background-color: var(--input-el-color);
    color: white;
}

.link {
    color: var(--link-color);
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
    text-underline-offset: 0.15em;
}

.row {
    display: flex;
}

.content {
    flex: 60%;

}

.sidebar {
    flex: 25%;
}    

@media screen and (max-width: 800px) {
    .row {
        display: block;
    }
    .sidebar {
        display: none;
    }
}
