<div class="profile-link">
    <div class="profile-link__img-block">
        <img class="profile-link__img" src="{{img}}" alt="ProfileLink" />
    </div>
    <div class="profile-link__block">
        <a id="profile-link" class="js-router-link link" href="/profile/{{user_id}}">
            {{name}}
        </a>
    </div>
    <div id="profile-link-logout">
        <img class="profile-link__logout-img" src="/assets/img/logout.png" />
    </div>
</div>