.event-page {
    margin: 48px auto 80px;
    max-width: 800px;
}

.event-page__name {
    font-size: 32px;
    text-align: center;
}

.event-page__title {
    margin-top: 16px;
    font-size: 24px;
    text-align: center;
    color: var(--main-selected-color);
}

.event-page__img-block {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.event-page__img {
    max-width: 95%;
    border-radius: 16px;
}

.event-page__description {
    margin-top: 12px;
}

.event-page__where {
    margin-top: 12px;
}

.event-page__button-block {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.event-page__button {
    display: flex;
    min-width: 60px;
    height: 60px;
    justify-content: center;

    &-invite {
        @extend .event-page__button;
        padding: 0 12px 0 12px;
    }
}

.event-page__button-icon {
    display: flex;
    height: 32px;
    align-self: center;

    &-like {
        @extend .event-page__button-icon;
        margin-top: 2px;
    }
}

.event-page__button-text {
    margin-left: 8px;
    display: flex;
    align-self: center;
}
