.invite-card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.invite-card {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.invite-card__event {
    display: flex;

    max-width: 320px;
    min-width: 60%;

    height: 100px;
}

.invite-card__event-name {
    display: flex;
    align-items: center;
}

.invite-card__event-img-block {
    aspect-ratio: 1 / 1;
    height: 100%;
}

.invite-card__event-img {
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;

    border-radius: 20px;
}

.invite-card__user {
    text-align: center;
    align-self: center;
}

.invite-card__user-img-block {
    display: flex;
}

.invite-card__user-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.invite-modal {
    overflow-y: auto;
    max-height: 480px;
}
