.event-processing {
    display: flex;
    margin: 40px auto 100px;
    max-width: 800px;
    flex-direction: column;
}

.event-processing__form-textarea {
    resize: vertical;
}

.event-processing__form {
    width: 100%;
}
.event-processing__form-block {
    display: flex;
    flex-direction: column;
}

.event-processing__img-prev {
    max-width: 95%;
}

.event-processing__img-label {
    margin: 16px auto 0;
}

.event-processing__tags {
    margin: -10px 0 10px;
}
