.event-processing__form-textarea {
    resize: vertical;
}

.event-processing {
    margin-bottom: 100px;
}

.event-processing__img-prev {
    max-width: 95%;
}

.event-processing__tags {
    margin: -10px 0 10px;
}
