<div class="profile-link__img-block">
    <img class="profile-link__img" src="{{img}}" alt="ProfileLink" />
</div>
<a id="profile-link" class="link">
    {{name}}
</a>
<div id="profile-link-logout">
    <img src="/assets/logout.png" />
</div>