.calendar {
    margin-top: 40px;
    max-width: 500px;

    --active-date-color: #17A8FA;
    --inner-active-date-color: #8dc1df;
}

.calendar-header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    font-size: 40px;

    padding: 10px 0 10px 0;
}

.arrow-button {
    appearance: none;
    border: none;
    background-color: transparent;

    margin-left: 10px;
    margin-right: 10px;

    cursor: pointer;
}

.reversed {
    transform: rotate(0.5turn);
}

table {
    width: 100%;
    text-align: center;
    font-size: 25px;

    border-collapse: collapse;
}

.top-row th {
    padding-bottom: 10px;
    font-weight: normal;
}

.top-row {
    appearance: none;
    border-bottom: 1px solid black;
}

.calendar-date {
    appearance: none;
    border: none;
    background-color: transparent;

    cursor: pointer;

    padding: 0.75em;

    aspect-ratio: 1 / 1;

    font-size: 20px;
}

.calendar-date.active {
    background-color: var(--active-date-color);
    clip-path: circle(1em at 50% 50%);
    color: white;
}

.calendar-date.inner-active {
    background-color: var(--inner-active-date-color);
    clip-path: circle(1em at 50% 50%);
    color: white;
}

.calendar-date.disabled {
    color: #BFBFBF;
    cursor: default;

    pointer-events: none;
}
