.subscription-list {
    --avatar-size: 65px;
}

.subscription-list__header {
    font-size: 40px;
    color: var(--link-color);
}

.subscription-list__subscription-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subscription-list__subscription-block__item {
    display: flex;

    gap: 10px;
    align-items: center;
}

.subscription-list__subscription-block__item__avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
}
