.profile-description {
    margin-top: 40px;

    display: flex;
}

.profile-description__img {
    border: 1px solid black;

    border-radius: 30px;
    width: 200px;
    height: 250px;

    object-fit: cover;
}

.profile-description__description-block {
    display: flex;
    flex-direction: column;

    height: 100%;

    padding-left: 90px;
    padding-right: 90px;
}

.profile-description__table-container {
    height: auto;
    width: 100%;

    margin: auto;
}

.profile-description__button-block {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
