.button-base {
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

@mixin button-hover ($color, $disabled-color) {
    background: $color;
    color: white;
    border: $color solid 1px;

    &:hover {
        background: #ffffff;
        color: $color;
    }
    &:disabled {
        background: $disabled-color;
        border-color: $disabled-color;
        color: white;
        cursor: not-allowed;
    }
    &:disabled:hover {
        background: $disabled-color;
    }
}

.button {
    @extend .button-base;
    @include button-hover($input-el-color, $disabled-input-el-color);
    padding: 10px;
}

.link-button {
    @extend .button-base;
    color: $input-el-color;
    border: $input-el-color solid 1px;
    padding: 10px;

    text-decoration: none;

    &:hover {
        background-color: $input-el-color;
        color: white;
    }
}

.full-button-link {
    @extend .button-base;
    @include button-hover($main-selected-color, white);

    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 28px;
    border-radius: 20px;
    padding: 10px;
}

.full-button-link-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.button-outline {
    @extend .button-base;
    display: inline-flex;

    &-like {
        border: #ff0000 solid 1px;
        &:hover {
            border-color: $input-el-color;
        }
    }

    &-other {
        border: $input-el-color solid 1px;
        &:hover {
            border-color: $main-selected-color;
        }
    }
}

.button-danger {
    @extend .button-base;
    background: #e92424;
    color: #ffffff;
    border: 1px solid $input-el-color;
    padding: 10px;

    &:hover {
        background: #ff7a7a;
    }
}
