.button-base {
    appearance: none;
    background-color: transparent;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

@mixin button-hover ($color, $disabled-color) {
    background: $color;
    color: white;
    border: $color solid 1px;

    &:hover {
        background: #ffffff;
        color: $color;
    }
    &:disabled {
        background: $disabled-color;
        border-color: $disabled-color;
        color: white;
        cursor: not-allowed;
    }
    &:disabled:hover {
        background: $disabled-color;
    }
}

.button {
    @extend .button-base;
    @include button-hover($input-el-color, $disabled-input-el-color);
    text-align: center;
    padding: 10px;
}

.link-button {
    @extend .button-base;
    color: $input-el-color;
    border: $input-el-color solid 1px;
    padding: 10px;

    text-decoration: none;

    &:hover {
        background-color: $input-el-color;
        color: white;
    }
}

.full-button-link {
    @extend .button-base;
    @include button-hover($main-selected-color, white);

    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 28px;
    border-radius: 20px;
    padding: 10px;
}

.full-button-link-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    margin-bottom: 40px;
}

@mixin button-outline ($color) {
    border: 1px solid $color;
    background-color: white;
    color: $color;

    &:hover {
        background-color: $color;
        color: white;
    }
}

.button-danger {
    @extend .button-base;
    @include button-outline(#eb4848);

    padding: 10px;
}

.header__mobile-button {
    @extend .button-base;
    border: none;
    box-shadow: none;
}

.transparent-svg-button {
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    border: none;

    &:hover svg * {
        stroke: var(--main-selected-color);
    }
}
