$event-page-collapse-width: 1250px;
$profile-collapse-width: 750px;
$profile-friends-collapse-width: 1250px;

$grid-size: (xxl 1550px 1250px, xl 1250px 1000px, l 1000px 850px, m 850px 600px, s 600px 400px, xs 400px 380px);
