.app {
    margin: 15px 0;
}

.row-old {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
}

.content {
    @media screen and (max-width: 16000px) {
        max-width: 90%;
    }
    margin: 0 auto;
    @each $name, $size, $max-content-size in $grid-size {
        @media screen and (max-width: $size) {
            max-width: $max-content-size;
        }
    }
}

.sidebar {
    min-width: 400px;
    max-width: 400px;
    margin: 40px 20px 0;
}

.flex {
    display: flex;
}

$table-collapse: 500px;

.table {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    @media (max-width: 500px) {
        margin-top: 10px;
        grid-template-columns: 1fr;
    }
}

.table__cell {
    display: flex;
    align-self: flex-end;
    grid-column: span 1;
    font-size: 24px;
    padding: 15px 20px 5px 0;
    border-bottom: 1px solid black;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @media screen and (max-width: $table-collapse) {
        padding: 3px 5px;
        font-size: 20px;
    }
}

.table__cell-title {
    @extend .table__cell;
    min-width: 100px;
    word-wrap: break-word;
    color: grey;

    @media screen and (max-width: $table-collapse) {
        border-bottom: none;
        margin-top: 5px;
    }
}

.table__cell-input {
    display: flex;
    align-self: flex-end;
    border-bottom: 1px solid black;
    @media screen and (max-width: $table-collapse) {
        border-bottom: none;
        margin: 0;
    }
}

.table__input {
    padding: 5px 10px 0;
    margin: auto 20px 3px -12px;
    font-size: 24px;
    width: 100%;

    font-family: "Roboto";
    font-weight: normal;
    @media screen and (max-width: $table-collapse) {
        font-size: 20px;
        padding: 7px;
        margin: 0;
    }
}

.delimiter {
    width: calc(100% - 20px);
}

.delimiter__content {
    font-size: 40px;
    text-align: center;
    @media screen and (max-width: 500px) {
        font-size: 32px;
    }
}

.grey {
    color: grey;
}

.edit-icon-container svg {
    width: 32px;
    height: 32px;
}

.edit-icon-container:hover svg {
    fill: green;
}

.invisible {
    display: none;
}

.pointy {
    cursor: pointer;
}

.stroke-svg-icon {
    & svg * {
        stroke: black;
    }

    &:hover svg * {
        stroke: var(--main-selected-color);
    }
}

.fill-svg-icon {
    & svg * {
        fill: black;
    }

    &:hover svg * {
        fill: var(--main-selected-color);
    }
}

.danger {
    color: #eb4848;
}

.notification-icon {
    // margin: 0 40px;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}
