.app {
    margin: 15px 0;
}

.row {
    display: flex;
    margin: 0 auto;
}

.content {
    flex: 60%;
}

.sidebar {
    margin: 40px;
    max-width: 380px;
}

@media screen and (max-width: 800px) {
    .row {
        display: block;
    }

    .sidebar {
        display: none;
    }
}

.flex {
    display: flex;
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
}

.table__block {
    display: grid;

    grid-template-columns: 1fr 1fr;
}

.table__cell {
    display: flex;
    align-self: flex-end;

    font-size: 24px;
    padding: 15px 20px 5px 0;
    border-bottom: 1px solid black;
}

.table__cell-input {
    display: flex;
    align-self: flex-end;
    border-bottom: 1px solid black;
}

.table__input {
    padding: 5px 10px 0;
    margin: auto 20px 3px -12px;
    font-size: 24px;

    font-family: "Roboto";
    font-weight: normal;
}

.delimiter__content {
    font-size: 40px;
    text-align: center;
}

.grey {
    color: grey;
}

.edit-icon-container svg {
    width: 32px;
    height: 32px;
}

.edit-icon-container:hover svg {
    fill: green;
}

.invisible {
    display: none;
}

.pointy {
    cursor: pointer;
}

.stroke-svg-icon {
    & svg * {
        stroke: black;
    }

    &:hover svg * {
        stroke: var(--main-selected-color);
    }
}

.fill-svg-icon {
    & svg * {
        fill: black;
    }

    &:hover svg * {
        fill: var(--main-selected-color);
    }
}
