.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.col .col-auto {
    grid-column: auto;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        @media screen and (max-width: 16000px) {
            grid-column: auto/span $i;
        }
    }
}

@each $name, $size in $grid-size {
    @for $i from 1 through 12 {
        .col-#{$name}-#{$i} {
            @media screen and (max-width: $size) {
                grid-column: auto/span $i;
            }
        }
    }
}
