$max-tab-count: 5;
$tab-wrap-border-radius: 16px;
$tab-height: 40px;

.tab {
    margin-top: 20px;
}

.tab__container {
    padding: 10px 10px 0;
    overflow-y: hidden;
}

.tab__wrap {
    overflow-y: hidden;
    border-radius: $tab-wrap-border-radius $tab-wrap-border-radius 0 0;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-color: #fff;
    margin: 0;
}

.tab__item {
    opacity: 1;
    position: relative;
    display: block;
    cursor: pointer;
    box-shadow: 0 -1px 0 #eee inset;
    text-decoration: none;
    color: #333;
    flex-grow: 3;
    text-align: center;
    background-color: #f2f2f2;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    // user-select: none;
    height: 50px;
    box-sizing: border-box;
    padding: 15px;
    &:hover {
        background-color: #f9f9f9;
        box-shadow: 0 1px 0 #f4f4f4 inset;
    }

    &.checked {
        background-color: #fff;
        box-shadow: 0 -1px 0 #fff inset;
        cursor: default;
        &:hover {
            box-shadow: 0 -1px 0 #fff inset;
            background-color: #fff;
        }
    }
}

.tab__content {
    margin: 0 10px;
    background-color: #fff;
}
