.button {
    border-radius: 10px;
    background: var(--input-el-color);
    border: 1px solid var(--input-el-color);
    padding: 10px;
    font-size: 20px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}

.button:hover {
    background: #FFFFFF;
    color: var(--input-el-color);
}

.button:disabled {
    background: var(--disabled-input-el-color);
    border-color: var(--disabled-input-el-color);

    color: white;

    cursor: not-allowed;
}

.button:disabled:hover {
    background: var(--disabled-input-el-color);
}

.link-button {
    color: var(--input-el-color);
    border: 1px solid var(--input-el-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-size: 20px;

    text-decoration: none;

    cursor: pointer;
}

.link-button:hover {
    background-color: var(--input-el-color);
    color: white;
}

.button-outline {
    display: inline-flex;
    border-radius: 8px;
    cursor: pointer;
}

.button-outline-like {
    border: #ff0000 solid 1px;
}

.button-outline-like:hover {
    border-color: var(--input-el-color);
}

.button-outline-other {
    border: var(--input-el-color) solid 1px;
}

.button-outline-other:hover {
    border-color: var(--main-selected-color);
}