.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    z-index: 1;

    display: flex;

    align-items: center;
    justify-content: center;

    background-color: rgba(90, 90, 90, 0.5);
}

.modal__form__container {    
    padding: 40px 80px 70px 80px;

    border-radius: 35px;

    min-width: 250px;

    transform: translateY(max(-25%, -5vh));

    background-color: white;
}
