.event-list-base {
    margin: 40px 20px 100px;
    @media screen and (max-width: 800px) {
        margin: 40px 0 100px;
    }
}

.event-list {
    @extend .event-list-base;

    // flex-wrap: wrap;

    column-gap: 40px;
    row-gap: 40px;
    @media screen and (max-width: 800px) {
        column-gap: 0;
        row-gap: 40px;
    }
}

.event-list-loading {
    display: flex;

    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.event-list-empty__text {
    font-size: 24px;
    display: flex;
}

.event-list-page__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 40px;
    max-width: 380px;
}
