.event-list-base {
    margin-top: 40px;
    justify-content: center;
    display: flex;

    @media screen and (max-width: 850px) {
        width: 100%;
    }
}

.event-list {
    @extend .event-list-base;

    flex-wrap: wrap;

    gap: 40px;
}

.event-list-loading {
    display: flex;

    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.event-list-empty__text {
    font-size: 24px;
    display: flex;
}

.event-list-page__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 40px;
    max-width: 380px;
}
