.event-list {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;

    gap: 40px;
}

.event-list-empty {
    margin-top: 80px;
    text-align: center;
}

.event-list-empty__text {
    font-size: 24px;
}

.event-list-page__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 40px;
    max-width: 380px;
}
