.event-page {
    margin-top: 40px;
}

.event-page__content {
    min-width: 200px;
    width: 90%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $event-page-collapse-width) {
        margin: 0 auto;
    }
}

.event-page__name {
    word-wrap: break-word;
    font-size: 32px;
    text-align: center;
}

.event-page__title {
    margin-top: 16px;
    font-size: 24px;
    color: var(--main-selected-color);
}

.event-page__img-block {
    width: 90%;
    margin: 16px auto 0;
    display: flex;
    justify-content: center;
    aspect-ratio: 3 / 2;
    overflow: hidden;
}

.event-page__img {
    width: 95%;
    border-radius: 16px;
    object-position: 0 0;
    object-fit: cover;
}

.event-page__description {
    word-wrap: break-word;

    margin-top: 12px;
}

.event-page__when {
    margin-top: 12px;
}

.event-page__where {
    margin-top: 12px;
}

.event-page__button-block {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.event-page__button {
    display: flex;
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    justify-content: center;

    &-invite {
        @extend .event-page__button;
        padding: 0 12px 0 12px;
    }
}

.event-page__button-outline {
    @extend .button-base;
    box-shadow: none;
    border: 2px solid black;
    border-radius: 15px;

    &-like {
        @extend .event-page__button-outline;
        border-color: black;
    }

    &.filled {
        svg * {
            stroke: var(--main-selected-color);
            fill: var(--main-selected-color);
        }

        border-color: var(--main-selected-color);
    }

    &:hover {
        border-color: var(--main-selected-color);

        .stroke-svg-icon svg * {
            stroke: var(--main-selected-color);
        }

        .fill-svg-icon svg * {
            fill: var(--main-selected-color);
        }
    }
}

.event-page__button-icon {
    display: flex;
    align-self: center;

    &-like {
        @extend .event-page__button-icon;
        margin-top: 2px;
    }

    & svg {
        height: 32px;
    }
}

.event-page__link-icon {
    align-self: flex-start;
}

.event-page__button-text {
    margin-left: 8px;
    display: flex;
    align-self: center;
}

.event-page__map {
    width: 100%;
    aspect-ratio: 4/2;
    margin: 10px auto -10px;

    @media screen and (max-width: 600px) {
        width: 100%;
    }
}
