.org-events-list {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $event-page-collapse-width) {
        max-width: 800px;
        margin: 40px auto;
    }
}

.org-events-list-title {
    border: #26a69a solid 2px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 32px;
}

.org-events-list__card-block {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: $event-page-collapse-width) {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.org-events-list__card-title {
    margin-bottom: 10px;
}
