<div class="event-create">
    <form class="form">
        <input class="form-control" type="text" id="event-create-name" />
        <textarea class="form-control event-create__form-textarea" type="text" id="event-create-teaser"> </textarea>
        <textarea class="form-control event-create__form-textarea" type="text" id="event-create-desc"></textarea>
        <section>
            <option>

            </option>
        </section>
        <input type="text" id="event-create-" />
    </form>
</div>