.header__logo {
    position: absolute;
}

.header__logo svg {
    width: 100px;
    height: 100px;
    padding-top: 0;
}

.header__head {
    font-size: 48px;
    font-weight: lighter;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
}

.header__top__line {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    padding: 0 20px;

    align-items: center;
}

.header__category {
    margin: 0 10px;
    padding: 0 10px;
    font-size: 32px;
}

.header__category:hover {
    background-color: rgb(231, 231, 231);
}

.category-selected {
    background-color: var(--main-selected-color);
    color: white;
}

.header__category.category-selected:hover {
    background-color: var(--main-selected-color);
}

.header__bottom__line {
    display: flex;
    justify-content: center;
}

.header__category__delimiter {
    width: 0;
    height: auto;

    border: 1px solid black;
}
