<div class="event-card__marked">
    <div class="event-card__logo-block">
        <img class="event-card__logo" src="{{img_src}}" alt="{{title}}" />
    </div>
    <div class="event-card__marked-text-block">
        {{#each items}}
            <div class="event-card__marked-text">
                {{this}}
            </div>
        {{/each}}
    </div>
</div>