<div>
    <div class="header__logo">
        <div id="svg-container-{{id}}"></div>
    </div>

    <div class="header__head">
        Event Radar
    </div>

    <div class="header__menu">
        Some Menu Items
    </div>
</div>