<div class="header">
    <div class="header__logo" id="svg-container-{{id}}">
    </div>

    <div class="header__top__line">
        <div class="header__head">
            Event Radar
        </div>

        <div>
            Москва
        </div>

        <div>
            <input>
        </div>

        <div>
            Вход/Регистрация
        </div>
    </div>

    <div class="header__bottom__line">
        {{#each categories }}
            <a class="header__category {{#ifEq @index ../selectedId}}category-selected{{/ifEq}}">
                {{this}}
            </a>

            {{#unless @last}}
                <div class="header__category__delimiter"></div>
            {{/unless}}
        {{/each}}
    </div>

</div>
