<div>
    <div class="header__logo">
        <img src="/assets/logo.png" alt="Logo" />
    </div>

    <div class="header__head">
        Event Radar
    </div>

    <div class="header__menu">
        Some Menu Items
    </div>
</div>